.background-login{
    /* background-color: #2B78E4; */
    border: 2px solid #255eae;
    /* border-radius: 10px; */
    /* padding: 40px 20px 30px 20px; */
}

.logo-isic{
    width: 200px;
    height: auto;
}